<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Book Recommender</title>
    <!-- Lien vers ta feuille de style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>Book Recommender</h1>
      <form action="/results" method="POST">
        <div class="form-group">
          <label for="description">Entrez un résumé ou une description :</label><br />
          <textarea id="description" name="description" rows="5"></textarea>
        </div>
        <button type="submit">Recommander</button>
      </form>
    </div>
  </body>
</html>
